@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

p {
    font-size: 15px;
    color: #333333;
    font-family: 200;
}

li {
    list-style: none;
}

.underline {
    display: inline-block;
    border-bottom: 5px solid #32A5AA;
    padding-bottom: 5px;
}

.button-1 {
    background-color: #d5d5d5;
    color: #000;
    border: none;
    padding: 5px 15px 5px 15px;
}

.button-2 {
    background-color: #32A5AA;
    color: #fff;
    border: none;
    padding: 5px 15px 5px 15px;
}

.button-3 {
    background-color: #4F008C;
    color: #fff;
    border: none;
    padding: 5px 15px 5px 15px;
}

.button-4 {
    background-color: #ffffff;
    color: #32A5AA;
    border: 1px solid #32A5AA;
}

/* PRELOADER CSS */
.page-loader {
    width: 100%;
    height: 100vh;
    position: absolute;
    background: #ffffff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: bold;
    line-height: 1.5;
    overflow: hidden;
}

/* Spinner wrapper to handle stacking context */
.spinner-wrapper {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SPINNER ANIMATION */
.spinner {
    width: 100px;
    height: 100px;
    background-color: #31B4BC;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

/* KEYFRAMES for spinner animation */
@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

/* Image styling */
.page-loader img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; /* Ensure the image is above the spinner */
}

/* Prevent scrolling */
.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
}



/* Base Navigation and Banner Styles */

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

header.scrolled {
    background-color: rgb(255, 255, 255);
    color: #201e1e;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

header #navbar a {
    color: white;
    /* Initial color */
    text-decoration: none;
    padding: 0 15px;
    transition: color 0.3s ease;
    font-family: "Poppins", system-ui;
    font-weight: 300;
    font-style: normal;
}

header.scrolled #navbar a {
    color: rgb(0, 0, 0);
    /* Color after scroll */
}

header.scrolled .hamburger span {
    background: #000000;
}

.logo img {
    width: 100%;
}

#navbar {
    display: flex;
    align-items: center;
}

#navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-family: "Poppins", system-ui;
    font-weight: 300;
    font-style: normal;
    position: relative;
    padding-top: 5px;
    transition: all 0.3s ease;
}

#navbar a::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #32A5AA;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

#navbar a:hover::before,
#navbar a:focus::before,
#navbar a.active::before {
    transform: scaleX(1);
}

/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: #fff;
    margin: 4px 0;
    transition: 0.4s;
}

/* Responsive Styles */
@media (max-width: 1056px) {
    #navbar {
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #333;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        max-width: 300px;
        display: flex;
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.3s ease, transform 0.3s ease;
        visibility: hidden;
    }

    #navbar.active {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
    }

    #navbar a {
        margin: 10px 0;
        padding: 10px 20px;
        width: 100%;
        color: #fff !important;
    }

    .hamburger {
        display: flex;
    }
}


/* Banner Video */

.banner {
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-overlay-content {
    position: absolute;
    z-index: 1;
    text-align: center;
    width: 100%;
}

.banner-overlay-content::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    background-color: #32A5AA;
}

.banner h1 {
    color: #fff;
    font-size: 3.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    z-index: 1;
    border-radius: 10px;
    line-height: 1.2;
    text-align: center;
}

/*==inner page banner==*/

.inner-banner {
    position: relative;
    height: 50vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inner-banner img {
    width: 100%;
}

.inner-banner .banner-overlay-content {
    position: absolute;
    z-index: 1;
    text-align: center;
    width: 100%;
    bottom: 0;
}

.inner-banner-overlay-content::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    background-color: #32A5AA;
}

.inner-banner h1 {
    color: #fff;
    font-size: 3.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    z-index: 1;
    border-radius: 10px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 0;
}

.inner-banner h4 {
    color: #fff;
    font-family: "Poppins", sans-serif;
    z-index: 1;
    padding: 10px 20px;
    background: #32A5AA;
    display: inline-block;
}

.underline {
    display: inline-block;
    border-bottom: 5px solid #fff;
    padding-bottom: 5px;
}

.inner-banner .underline {
    display: inline-block;
    border-bottom: 5px solid #32A5AA;
    padding-bottom: 5px;
}

@media only screen and (max-width: 544px) {
    .banner h1 {
        color: #fff;
        font-size: 2.8rem;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        z-index: 1;
        border-radius: 10px;
        line-height: 1.2;
        text-align: center;
    }

    .inner-banner img {
        height: 100%;
        object-fit: cover;
    }

    .inner-banner h1 {
        color: #fff;
        font-size: 2.8rem;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        z-index: 1;
        border-radius: 10px;
        line-height: 1.2;
        text-align: center;
    }
}

@media only screen and (max-width: 394px) {
    .banner h1 {
        color: #fff;
        font-size: 2rem;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        z-index: 1;
        border-radius: 10px;
        line-height: 1.2;
        text-align: center;
    }
}

.banner h4 {
    color: #fff;
    font-family: "Poppins", sans-serif;
    z-index: 1;
    padding: 10px 20px;
    background: #32A5AA;
    display: inline-block;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(159, 169, 241, 0.5);
    z-index: 0;
}

.index-about {
    padding: 60px 20px;
    background-image: url('../img/Background-Network.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 50em;
    background-position-y: -10em;

}

.index-about h2 {
    font-size: 2em;
    font-weight: 600;
    color: #32A5AA;
}

.index-about .ps1 {
    font-style: italic;
    font-weight: 500;
}

.index-about .image-container {
    position: relative;
    display: inline-block;
}

.index-about .image-container::before {
    content: '';
    position: absolute;
    left: -70px;
    bottom: -30px;
    width: 100%;
    height: 100%;
    background-color: #32A5AA;
    z-index: -1;
}

.index-about .image-container img {
    display: block;
    max-width: 100%;
    height: auto;

}

.index-about-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.button-2 {
    align-self: flex-end;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #32A5AA;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-2:hover {
    background-color: #289397;
}

.index-about-content .content-box {
    border: 1px solid #a6a5a5;
    background-color: #fff;
    padding: 20px;
    margin: 10px;
}

.index-about-content .content-box img {
    float: right;
}

.index-about-content .content-box h4 {
    padding-top: 4em;
}

.index-content-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2;
}

@media only screen and (max-width: 767px) {
    .index-about-content {
        margin-top: 20px;
    }

    .index-about-content .content-box h4 {
        padding-top: 5em;
    }

}

@media only screen and (max-width: 500px) {
    .index-content-item {
        display: block;
        text-align: center;
    }


}

/* ------ */

.index-services {
    padding: 60px 20px;
}

.index-services h2 {
    font-size: 2em;
    font-weight: 600;
    color: #4F008C;
}

.index-services .ps1 {
    font-style: italic;
    font-weight: 500;
}

.index-service-item {
    position: relative;
}

.index-service-item::before {
    content: '';
    position: absolute;
    background-color: #4F008C;
    right: 0;
    top: -20%;
    width: 200px;
    height: 130%;
}


@media only screen and (max-width: 767px) {
    .index-service-item::before {
        top: 0;
        height: 100%;
    }
}

/* ----- */
.slider-section {
    position: relative;
}

.service-slider {
    margin-bottom: 20px;
}

.slider-navigation {
    position: absolute;
    bottom: 0;
    right: 10px;
}

.slider-navigation button {
    display: inline-block;
    font-size: 24px;
    padding: 8px 12px;
    cursor: pointer;
    background-color: #4952ba00;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.service-slider {
    width: 100%;
    position: relative;
}

.slider-item {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.slider-item img {
    width: 90%;
    height: 250px !important;
    object-fit: cover;
    height: auto;
    display: block;
}

.overlay-text {
    position: absolute;
    width: 90%;
    bottom: 0;
    left: 0;
    right: 0;
    top: 75%;
    background: linear-gradient(180deg, rgba(79, 0, 140, 0) 0%, rgba(79, 0, 140, 1) 88%);
    color: #fff;
    padding: 0;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    transition: opacity 0.3s ease, top 0.3s ease;
}

.slider-item:hover .overlay-text {
    top: 10%;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---- */

.index-solutions {
    padding: 60px 20px;
    background-image: url('../img/Background-Network.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: -10em;
    background-position-y: 8em;
    position: relative;
    z-index: -1;
}

.index-solutions .image-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.index-solutions .solution-content {
    display: flex;
}

@media only screen and (max-width: 767px) {
    .index-solutions .solution-content {
        display: block;
    }
}

.index-solutions .image-container::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    right: inherit;
    bottom: -30%;
    width: 100%;
    height: 100%;
    background-color: #32A5AA;
    z-index: -1;
}

@media only screen and (max-width: 450px) {
    .index-solutions .image-container::before {
        bottom: -40%;
    }


}

.index-solutions .image-container img {
    display: block;
    max-width: 90%;
    height: auto;
    margin: auto;

}

/* ============================ 
About page
============================ */

.about-hero {
    position: relative;
    padding: 60px 20px;
    background-image: url('../img/Background-Network.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 60em;
    background-position-y: -12em;
}

.about-hero::before {
    position: absolute;
    content: '';
    background-color: #4F008C;
    width: 10px;
    height: 100%;
}

.about-hero li {
    list-style-type: none;
}

.about-hero .underline {
    display: inline-block;
    border-bottom: 5px solid #4F008C;
    padding-bottom: 5px;
}

.about-hero img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* about Values Section */

.about-values {
    position: relative;
    padding: 60px 20px;
}

.about-values::before {
    position: absolute;
    top: 12%;
    content: '';
    width: 100%;
    height: 200px;
    background-color: #289397;
    z-index: -1;

}

.about-values .value-boxes {
    background-color: #fff;
    border: solid 1px #e6e6e6;
    padding: 20px;
    margin-bottom: 10px;
    height: auto;
}

.about-values .underline {
    display: inline-block;
    border-bottom: 5px solid #32A5AA;
    padding-bottom: 5px;
}

@media only screen and (max-width: 767px) {
    .about-values::before {
        top: 6em;
    }
}

/* about Fact Section */

.about-fact {
    padding: 60px 20px;
    overflow-y: hidden;
}

.about-fact img {
    width: 100%;
}

.about-fact .image-container {
    position: relative;
    display: inline-block;
}

.about-fact .image-container::before {
    content: '';
    position: absolute;
    right: -30%;
    bottom: -30px;
    width: 100%;
    height: 100%;
    background-color: #4F008C;
    z-index: -1;
}

.about-fact ul {
    margin: 0;
    padding: 0;
}

.about-fact li {
    padding-bottom: 10px;
    display: flex;
}

.about-fact i {
    font-size: 20px;
}

/* ============================ 
Service & Solutions page
============================ */

.service-hero {
    padding: 60px 20px;
}

.service-hero img {
    width: 100%;
}

.service-hero .image-container {
    position: relative;
    display: inline-block;
}

.service-hero .image-container::before {
    content: '';
    position: absolute;
    left: -20%;
    top: 90px;
    width: 100%;
    height: 100%;
    background-color: #4F008C;
    z-index: -1;
}

.service-hero li {
    margin-bottom: 20px;
}

.service-hero .underline {
    display: inline-block;
    border-bottom: 5px solid #32A5AA;
    padding-bottom: 5px;
}

@media only screen and (max-width: 767px) {
    .service-hero {
        margin: 0;
        padding: 0;
    }

    .service-hero ul {
        margin-top: 90px;
        padding: 20px;
    }
}

/* Service Media */

.service-media {
    padding: 60px 20px;
}

.service-media .underline {
    display: inline-block;
    border-bottom: 5px solid #32A5AA;
    padding-bottom: 5px;
}

.service-media ul {
    margin: 0;
    padding: 0;
}

/* Service Media */

.service-solutions {
    padding: 60px 20px;
    overflow-x: hidden;
}

.service-solutions img {
    width: 100%;
}

.service-solutions ul {
    margin: 0;
    padding: 0;
}

.service-solutions .image-container {
    position: relative;
    display: inline-block;
}

.service-solutions .image-container::before {
    content: '';
    position: absolute;
    right: -20%;
    top: 90px;
    width: 100%;
    height: 100%;
    background-color: #4F008C;
    z-index: -1;
}

.service-solutions .underline {
    display: inline-block;
    border-bottom: 5px solid #4F008C;
    padding-bottom: 5px;
}

@media only screen and (max-width: 767px) {
    .service-solutions {
        margin: 0;
        padding: 20px;
    }

    .service-solutions ul {
        margin-top: 90px;
        padding: 0;
    }
}

/* ============================ 
Capabilities page
============================ */

.capabilities-hero {
    position: relative;
    padding: 60px 20px;
    background-image: url('../img/Background-Network.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 60em;
    background-position-y: 8em;
}

.capabilities-hero::before {
    position: absolute;
    content: '';
    background-color: #4F008C;
    width: 10px;
    top: 25%;
    height: 100%;
}

.capabilities-hero img {
    width: 100%;
}

.capabilities-hero .image-container {
    position: relative;
    display: inline-block;
}

.capabilities-hero .image-container::before {
    content: '';
    position: absolute;
    right: -20%;
    top: 70px;
    width: 100%;
    height: 100%;
    background-color: #4F008C;
    z-index: -1;
}

.capabilities-hero .underline {
    display: inline-block;
    border-bottom: 5px solid #4F008C;
    padding-bottom: 5px;
}

.capabilities-index {
    padding: 60px 20px;
}


.capabilities-index .value-boxes {
    background-color: #fff;
    border: solid 1px #e6e6e6;
    padding: 20px;
    margin-bottom: 10px;
    height: auto;
}

.underline {
    display: inline-block;
    border-bottom: 5px solid #32A5AA;
    padding-bottom: 5px;
}

@media only screen and (max-width: 767px) {

    .capabilities-hero .image-container::before {
        right: 0;
    }
}

/* ============================ 
Capabilities page
============================ */

.career-form {
    padding: 60px 20px;
    margin: auto;
    background-image: url('../img/Background-Network.png');
    background-size: contain;

}

.career-form form {
    background-color: #fff;
    border: solid 1px #e6e6e6;
    padding: 20px;
    margin-bottom: 10px;
    height: auto;

}

.career-form form label {
    font-size: 14px;
    color: #333333;
}

.career-form form input {
    border-radius: 0;
}

.file-upload {
    text-align: center;
}

.file-upload input {
    background-image: url('../img/file-folder.png');
    background-repeat: no-repeat;
    text-align: center;
    margin-left: auto;
}

.career-form .file-upload {
    width: 100%;
    background-color: #fff;
    border: solid 1px #e6e6e6;
    padding: 20px;
    margin: auto;
    height: auto;
}

#drop_zone {
    border: 5px solid blue;
    width: 200px;
    height: 100px;
}

.career-content {
    padding: 60px 20px;
}

@media only screen and (max-width: 767px) {
    .career-content {
        padding: 0;
        margin: 0;
    }
}

/* ============================ 
Contact page
============================ */

.contact-index {
    padding: 60px 20px;
    background-image: url('../img/Background-Network.png');
    background-position-y: bottom;
    background-size: contain;
}

.contact-index form {
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: solid 1px #e6e6e6;
}

/* ======================================= */

.index-clients {
    position: relative;
    height: auto;
}

.parallax {
    background-image: url('../img/index-banner-2.png');
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.parallax-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax-content h4 {
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 0px;
    color: #FFFFFF;
}


.client-section {
    position: absolute;
    width: 100%;
    bottom: 70px;
    cursor: url('/assets/img/cursor.png'), auto;

}


.client-section .client-section-img img {
    width: 260px;
    height: auto;
    object-fit: cover;
    margin: auto;
}


.client-section img {
    width: 100%;
    padding: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* -------- */




footer {
    margin-top: 50px;
    background-color: #26262E;
}

footer p {
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-size: 15px;
    font-weight: 200;
}

footer h6 {
    font-family: "Poppins", sans-serif;

}

footer a {
    text-decoration: none;
}

footer i {
    color: #fff;
    font-size: 18px;
}

footer .copyright {
    background-color: #fff;
    display: flex;
    align-items: center;

}

footer .copyright p {
    color: #26262E;
    padding: 10px;
    font-weight: 300;
    justify-content: start;
}

@media only screen and (max-width: 767px) {
    footer p {
        display: flex;
        justify-content: center;
    }
}